@model List<TaskManager.Models.MTask>

@{
    ViewBag.Title = "Index";
}

<h2>Open Tasks</h2>

<p>
    @Html.ActionLink("Create New", "Create","Task")
</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Employee.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].IsDone)
                </th>

            </tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    @Html.HiddenFor(m => m[i].MTaskId)

                    <td>
                        <div class="form-group">
                            @Html.DisplayFor(m => m[i].Name)
                            @Html.HiddenFor(m => m[i].Name)
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.HiddenFor(m => m[i].Description)
                            @Html.DisplayFor(m => m[i].Employee.Name)
                            @Html.HiddenFor(m => m[i].Employee)
                        </div>
                    </td>


                    <td>
                        <div class="form-group">
                            @Html.DisplayFor(m => m[i].Date.Date)
                            @Html.HiddenFor(m => m[i].Date.Date)
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.EditorFor(m => m[i].IsDone)
                            @Html.ValidationMessageFor(m => m[i].IsDone, "", new { @class = "text-danger" })
                        </div>
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", "Task", new { id = Model[i].MTaskId }, new object())

                    </td>
                </tr>
            }
        </table>
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update" class="btn btn-default" />
                </div>  
    </div>
}

