@model List<TaskManager.Models.MTask>

@{
    ViewBag.Title = "Index";
}

<h2>Open Tasks</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Task")
</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>  @Html.DisplayNameFor(model => model[0].Name)  </h3>
            </div>
            <div class="col-md-3">
                <h3>  @Html.DisplayNameFor(model => model[0].Employee.Name)  </h3>
            </div>
            <div class="col-md-2">
                <h3>  @Html.DisplayNameFor(model => model[0].Date)  </h3>
            </div>
            <div class="col-md-2">
                <h3>  @Html.DisplayNameFor(model => model[0].IsDone)  </h3>
            </div>
            <div class="col-md-2">
                <h3>  Edit  </h3>
            </div>

        </div>
            
        @for (int i = 0; i < Model.Count; i++)
                {
            
            
                @Html.HiddenFor(m => m[i].MTaskId)

                <div class="row">

                    <div class="col-md-3">
                       
                        @Html.DisplayFor(m => m[i].Name)
                        @Html.HiddenFor(m => m[i].Name)

                    </div>
                    <div class="col-md-3">
                        
                        @Html.DisplayFor(m => m[i].Employee.Name)
                        @Html.HiddenFor(m => m[i].EmployeeId)
                    </div>
                    <div class="col-md-2">
                        
                        @Html.DisplayFor(m => m[i].Date)
                        @Html.HiddenFor(m => m[i].Date)
                    </div>
                    <div class="col-md-2">
                      
                        @Html.EditorFor(m => m[i].IsDone)
                        @Html.ValidationMessageFor(m => m[i].IsDone, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                       
                        @Html.ActionLink("Details", "Details", "Task", new { id = Model[i].MTaskId }, new object())
                    </div>
                </div>
            

        } 
    </div>
    <div class="modal-footer">
        <input type="submit" value="Update" class="btn btn-default" />
    </div>
}

